.badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #FF2625;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}